<br>
<div class="container">
  <div class="row text-center">
    <div class="col-md-2 scale">
      <a class="nav-link" href="{{ url_for('cont.about_dg') }}">
        <img src="/static/BC1.png" alt="logo" class="rounded" width=100% height=100%>
      </a>
    </div>
    <div class="col-md-2 scale text-center">
      <a class="nav-link" href="{{ url_for('cont.mclass') }}">
        <img src="/static/BC2.png" alt="logo" class="rounded" width=100% height=100%>
      </a>
    </div>
    <div class="col-md-2 scale text-center">
      <a class="nav-link" href="{{ url_for('cont.where') }}">
        <img src="/static/BC3.png" alt="logo" class="rounded" width=100% height=100%>
      </a>
    </div>
    <div class="col-md-2 scale text-center">
      <a class="nav-link" href="{{ url_for('cont.beginner', category_id='Beginner') }}">
        <img src="/static/BC4.png" alt="logo" class="rounded" width=100% height=100%>
      </a>
    </div>
    <div class="col-md-2 scale text-center">
      <a class="nav-link" href="{{ url_for('cont.protour', category_id='ProTour') }}">
        <img src="/static/BC5.png" alt="logo" class="rounded" width=100% height=100%>
      </a>
    </div>
    <div class="col-md-2 scale text-center">
      <a class="nav-link" href="{{ url_for('cont.protour', category_id='ProTour') }}">
        <img src="/static/BC6.png" alt="logo" class="rounded" width=100% height=100%>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-2">
      <h5 class="text-dark text-center">Что такое<br>диск-гольф?</h5>
    </div>
    <div class="col-md-2">
      <h5 class="text-dark text-center">Когда<br>мастеркласс?</h5>
    </div>
    <div class="col-md-2">
      <h5 class="text-dark text-center">Играть самому<br>с друзьями!</h5>
    </div>
    <div class="col-md-2">
      <h5 class="text-dark text-center">Участвуй<br>в турнире!</h5>
    </div>
    <div class="col-md-2">
      <h5 class="text-dark text-center">Соревнуйся<br>с про!</h5>
    </div>
    <div class="col-md-2">
      <h5 class="text-dark text-center">Играй за<br>границей!</h5>
    </div>
  </div>
</div>