{% extends "base.html" %}
{% block content %}
<div class="album py-5 box">
  <div class="container">
    <h2 class="text-center">ДИСК-ГОЛЬФ против ДИВАНА: сделай диск-гольф сильней!</h2>
    <br>
    <div class="row">
      <div class="col-md-12">
        <img src="/static/sponsor.jpg" class="rounded mx-auto d-block" width=100%  alt="Общее фото"></a>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-10 mx-auto">
        <p style="font-size: 2vw;" class="mx auto">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Корпоративному сектору в любой точке РФ и стран СНГ мы предлагаем:</b><br>
        - Проектирование, оборудование тренировочных и профессиональных диск-гольф парков<br>
        - Изготовление дисков с индивидуальным дизайном<br>
        - Проведение лиг и турниров по диск-гольфу<br>
        - Проведение мини-турниров в составе корпоративных мероприятий<br>
        - Постоянные групповые тренировки по диск-гольфу<br>
        <br>
        Наши координаты для заказа указаны ниже! Мы всегда ждем звонка от Вас!
        </p></ul>
        <br>
      </div>
    </div>
    <br>
  </div>
</div>
{% endblock %}    