{% extends "base.html" %}
{% block content %}
<div class="album py-5 box">
  <div class="container">
    <h2 class="text-center">ДИСК-ГОЛЬФ против ДИВАНА: сделай диск-гольф сильней!</h2>
    <br>
    <div class="row">
      <div class="col-md-12">
        <img src="/static/sponsor.jpg" class="rounded mx-auto d-block" width=100%  alt="Общее фото"></a>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-10 mx-auto">
        <p style="font-size: 2vw;" class="mx auto">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Друзья в рамках пропаганды здорового образа жизни и
        развития диск-гольфа мы постоянно реализуем спортивные общественные проекты. Для реализации этих проектов
        мы с благодарностью принимаем донаты и каждый год отчитываемся о сумме собранных средств и реализованных
        проектах.<br>
        Запланированные на 2021 год проекты, требующие поддержки:<br></p>
        <ul><p style="font-size: 2vw;" class="mx auto">- Проведение еженедельных общедоступных бесплатных
          мастер-классов по диск-гольфу в Москве, Санкт-Петербурге, Нижнем Новгроде, Екатеринбурге, Белгороде.</p></ul>
        <ul><p style="font-size: 2vw;" class="mx auto">- Размещение общедоступных бесплатных тренировочных площадок
          в центральных парках Москвы, Санкт-Петербурга, Нижнего Новгрода, Екатеринбурга, Белгорода.</p></ul>
        <ul><p style="font-size: 2vw;" class="mx auto">- Проведение бесплатных мастер-классов и турниров между
          детскими домами города Екатеринбурга.</p></ul>
        <br>
        <p style="font-size: 2vw;" class="mx auto">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QR-код который отправит ваше пожертвование на развитие спорта:<br></p>
      </div>
    </div>
    <br>
  </div>
</div>
{% endblock %}    