{% extends "base.html" %}
{% block content %}
<div class="album py-5 box">
  <div class="container">
    <h2 class="text-center">СТАНЬ ИГРОКОМ МИРОВОГО УРОВНЯ!</h2>
    <br>
    <div class="row">
      <div class="col-md-6">
        <img src="/static/world1.jpg" class="rounded mx-auto d-block" width=100%  alt="альтернативный текст"></a>
      </div>
      <div class="col-md-6">
        <br>
        <p style="font-size: 2vw;" class="mx auto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ты занимаешь призовые
          места на федеральных турнирах - решайся, и участвуй в международных! Опыт участия в таких эвентах поднимет
          уровень твоей игры до новых высот!<br>
          Новые страны, новые парки, теплые знакомства - секреты игры!<br>
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <p style="font-size: 2vw;" class="mx auto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Календарь международных
          эвентов всегда доступен на сайте Профессиональной Диск-Гольф Ассоциации, в discgolfmetrics.com и UDisc.com<br>
        </p>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <p></p>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2 bg-dark" style="height: 10px;">
      </div>
    </div>
    {% include 'steps.html' %}
    <br>
  </div>
</div>
{% endblock %} 